<div ng-cloak>
    <div class="row">
        <h2 align="center" style="margin-bottom: 50px;"><b>ESCOLHA O SEU RESTAURANTE FAVORITO</b></h2>
        <div ng-repeat="(key, value) in restView track by $index" style="float:left; width: 500px; text-align:center">
                <img src="../assets/images/{{value.name}}.png" style="width:50%;height:240px;">
                <br>
                <button type="button" class="btn btn-default" aria-label="Center Align" ng-click="vote.doClick(value)" style="margin-top:50px;">
                    <b>VOTE</b>
                </button>
        </div>
    </div>
</div>
