<div ng-cloak>
    <div class="row">

        <div ng-repeat="(key, value) in restView track by $index">
            <div style="float:left; width: 500px; height: 500px; text-align:center">
                <img src="../assets/images/{{value.name}}.png" style="width:200px;height:240px;">
                <br>
                <button type="button" class="btn btn-default" aria-label="Center Align" ng-click="vote.doClick(value)" style="margin-top:50px;">
                    <b>VOTE</b>
                </button>
            </div>
        </div>
    </div>
</div>
